/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 *= require_tree
 */

@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

a {
  text-decoration: none;
  color: #212121;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3 {
  font-weight: 700;
}

ul {
  list-style-type: none;
}

/* footer */
footer {
  width: 95%;
  padding-top: 5px;
  margin: 1.5rem auto;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: gray;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 48px;
  background-color: #689f38;
  color: #dcedc8;
}

.nav a {
  color: #dcedc8;
  text-transform: uppercase;
  font-weight: 900;
}

footer a:hover {
  color: #5d5b5b;
}

.nav .active a {
  color: #fff;
}

.nav a:hover {
  color: #fff;
}

.nav .menu {
  width: 80%;
  justify-content: space-between;
}

.nav .menu .menu-item {
  float: left;
  margin: 0 15px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.notice,
.alert {
  margin-bottom: 8px;
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 5px;
  color: dimgrey;
  font-size: 14px;
}

.notice {
  background-color: #d4f6c6;
}

.alert {
  background-color: #f6cfc6;
}

.errors {
  font-size: 10px;
  color: red;
}

body {
  text-align: center;
  background: #fff;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

form {
  width: 50%;
  margin: 0 auto;
}

form * {
  width: 80%;
  margin: 0 auto !important;
}

form .field {
  margin: 0 auto;
  padding: 8px 0;
}

form .field input {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 8px;
  background-color: #dcedc8;
}

form .field input[type="checkbox"] {
  width: 80%;
}

form .actions {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

form input[type="submit"] {
  padding: 8px;
  width: 80%;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background-color: #689f38;
  color: #dcedc8;
  text-transform: uppercase;
  font-weight: 900;
}

form input[type="submit"]:hover {
  background-color: #8bc34a;
  color: #fff;
}

form .actions.reset input[type="submit"] {
  width: 100%;
}

.h-15 {
  height: 15% !important;
}

.pp {
  margin: 0 !important;
}
