<div class="left-menu col-md-2">Left menu
<div class="list-group list-group-horizontal">
<img class='mini-profile-picture col-md-3 list-group-item'>Pic<img>
<div class='col-md-9 list-group-item'> Name </div>
</div>

<div class="list-group list-group-horizontal"><div class="list-group-item">Following</div><div class="list-group-item">Followers</div></div>
<div>EL3</div>
<div>EL4</div>
<div>EL5</div>
<div>EL6</div>
</div>
