<div class="left-menu col-md-2 container">Left menu
  <div class="list-group list-group-horizontal">
    <img class='mini-profile-picture col-md-3 list-group-item' alt="pic"><img>
    <div class='col-md-9 list-group-item'> Name </div>
  </div>

  <div class="list-group list-group-horizontal d-flex justify-content-around">
    <div class="list-group-item text-center">3<br>Following</div>
    <div class="list-group-item text-center">3<br>Followers</div>
  </div>
  <div class="list-group list-group-vertical container">
    <div class="list-group-item"><i class="fa fa-home p-2"></i>Connect</div>
    <div class="list-group-item"><i class="fa fa-film p-2"></i>Discover</div>
    <div class="list-group-item"><i class="fa fa-user p-2"></i>Profile</div>
    <div class="list-group-item"><i class="fa fa-question-circle p-2"></i>About</div>
  </div>
</div>
