<div class="col-md-12 row">
  <div class="col-md-9 p-0">
    <div><img class="cover-photo w-100" alt="Cover photo"></img></div>
    <div class="">
    <nav class="middle-nav">Middle nav</nav>
    <ul class="nav nav-tabs">
      <li class="<%= 'active' if params[:tab] == 'opinions' %> test" id="opinions" title="Write a new opinion"><a href="/users/1?tab=opinions" >Opinions</a></li>
      <li class="<%= 'active' if params[:tab] == 'following' %> test" id="following" title="Who are you following"><a href="/users/1?tab=following">Following</a></li>
      <li class="<%= 'active' if params[:tab] == 'oldest' %> test" id="followers" title="Your followers"><a href="/users/1?tab=followers">Followers</a></li>
  </ul>
    <div>
      <%= write_new_opinion_form %>
    </div>
    <div>
    </div>
    </div>
  </div>

  <div class="col-md-3 p-0">Right menu
    <div>El1</div>
    <div>El2</div>
    <div>El3</div>
  </div>
</div>
