<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>
  <link rel="stylesheet" >
  <body>
    <% if signed_in? %>
      <%= render 'layouts/sidebar' %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>


</html>


