<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>
  <body>
    <% if logged_in? %>
      <%= render 'layouts/sidebar' %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>


</html>


